* {
  margin: 0;
  padding: 0;
  /* height: 100%; */
}

body {
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  color: rgb(0, 0, 0);
  background: #ffffff;
}

h1 {
  font-size: 3em;
}

h2 {
  font-size: 1.8em;
}

.container {
  width: 100%;
  height: 95vh;
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.top-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 20%;
  background: #f5f5f5;
  border-bottom: 1px solid #e5e5e5;
}

.top-container .top {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 40%;
}

.top-container .bottom {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 60%;
}

.bottom-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 80%;
  border-top: 1px solid #e5e5e5;
}

.row {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 7rem;
  /* border: 1px solid green; */
}

.headerRow {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 3rem;
  /* border: 1px solid red; */
}

.headCell {
  width: 100%;
  height: 100%;
  /* border: 1px solid black; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.cell {
  position: relative;
  width: 100%;
  height: 100%;
  /* border: 1px solid black; */
  border-top: none;
  display: flex;
  flex-direction: column;
  flex-wrap: initial;
  justify-content: center;
  align-items: start;
  overflow: scroll;
}

.cell.today {
  background-color: rgb(125, 255, 153);
  border: 0px solid black;
  border-radius: 5px;
}

.cell::-webkit-scrollbar {
  display: none;
}

.cell:hover {
  background: #f5f5f5;
  border-radius: 5px;
}

.cell::before {
  /* content: attr(data-date); */
  position: absolute;
  transform: scale(2);
  left: 43%;
  opacity: 0.1;
  z-index: -1;
  animation: fadeIn 0.5s ease-in-out;
}

.cell .top {
  height: 30%;
  margin: 2px;
  margin: auto;
}

.cell .top h3 {
  margin-top: 10px;
}

.cell .bottom {
  height: 70%;
  margin: auto;
}

.cell .bottom .dots {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  font-size: 0.7rem;
  width: 100%;
  height: min-content;
  padding: 3px;
}

.cell .bottom li {
  list-style: none;
}

.cell .bottom p {
  font-size: 0.8rem;
  padding: 3px;
}

.btn {
  padding: 5px;
  border: 1px solid rgb(187, 187, 187);
  /* background-color: aquamarine; */
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.btn:hover {
  cursor: pointer;
  transform: scale(1.1);
  transition: ease-in 0.1s;
}

/* styling form */

.form-group {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50%;
  height: max-content;
  /* border: 1px solid red; */
}

.form-element {
  width: 100%;
  height: 100%;
  /* border: 1px solid rgb(0, 218, 73); */
  background-color: rgb(244, 255, 246);
  border-radius: 2px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
  border-radius: 8px;
  padding: 10px;
}

.form-element input {
  width: 80%;
  padding: 4px;
  margin: 4px;
  border: 0.5px solid rgb(213, 228, 219);
  border-radius: 8px;
  background-color: transparent;
  outline: none;
  font-size: 1.4rem;
}

.form-element input[type="submit"] {
  padding: 5px;
  border: 1px solid rgb(0, 218, 73);
  border-radius: 8px;
  background-color: aquamarine;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* animation for modal container */
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.modalContainer {
  border: 1px solid rgb(255, 255, 255);
  background-color: rgba(0, 0, 0, 0.37);
  position: absolute;
  /* top: -100px; */
  display: block;
  width: 100%;
  height: 100%;
  animation: fadeIn 0.5s ease-in-out;
  z-index: 9;
}

*::-webkit-scrollbar {
  display: none;
}

.modalContainer .modal {
  border: 1px solid rgb(255, 255, 255);
  border-radius: 10px;
  margin-top: 10px;
  width: 70%;
  height: 70%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto;
  background-color: white;
  z-index: 9;
  padding-top: 40px;
  overflow-y: scroll;
}

/* media query for tablet and desktop */
@media only screen and (min-width: 600px) {
  .modalContainer .modal {
    width: 50%;
  }
}

.modalContainer .modal::-webkit-scrollbar {
  visibility: hidden;
}

.modalContainer .modal .inputs {
  width: 60%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  /* border: 1px solid red; */
}

.modalContainer .modal .buttons {
  width: 60%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  /* border: 1px solid red; */
}

.modalContainer .modal input[type="text"] {
  margin: auto;
  border: none;
  width: 80%;
}

.modalContainer .modal textarea {
  margin: 5px;
  border: none;
  width: 60%;
  min-height: 30px;
  border-top: 0.5px solid rgb(134, 158, 144);
}

.modalContainer .modal h3:nth-child(2) {
  margin-top: 10px;
}

/* loading page starts */

/* css for loading page that covers full screen */

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.fullScreen {
  position: fixed;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 9;
  animation: fadeIn 0.3s ease-in-out;
  /* transition: ease-in 0.5s; */
  /* transform: scale(1); */
}

.false {
  display: none;
}

/* css for search bar */
/* .globalSearchBar {
  width: 80%;
  height: 45%;
  font-size: 1.85em;
  text-align: center;
  margin-top: 25px;
  border: 0.5px gray solid;
  border-radius: 5px;
  padding: 5px;
}

.globalSearchBar:focus {
  outline: none;
  background-color: rgb(230, 255, 230);
  /* color: red; */

.input-icons i {
  position: absolute;
}

.input-icons {
  width: 80%;
  margin-top: 15px;
}

.icon {
  padding: 10px;
  color: green;
  min-width: 70px;
  text-align: center;
}

.input-field {
  width: 100%;
  padding: 10px;
  font-size: 1em;
  text-align: center;
}

.input-field:focus {
  outline: none;
  /* background-color: rgb(230, 255, 230); */
  /* color: red; */
}
